
<tbody>
<% @songs.each do |s| %>

<tr>
<h2><%= s.title %></h2>
<h2><%= s.released %></h2>
<h2><%= s.release_year %></h2>
<h2><%= s.artist_name %></h2>
<h2><%= s.genre %></h2>
</tr>



<%end%>
</tbody>